@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

:root {

/* ### Primary */

--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);

/* ### Neutral */

--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
  }


body {
    font-family: 'Spartan', sans-serif;
}
p{
  line-height: 1.8;
}
main h1, .stars p {
  color: var(--Very-Dark-Magenta)
}

main p {
  color: var(--Dark-Grayish-Magenta)
}

main small {
  color: var(--Soft-Pink)
}

main h3{
  color: var(--White)
}

.card p {
  color: var(--White)
}

.testimonials .card {
  background-color: var(--Very-Dark-Magenta)
}

.testimonials h3 {
  color: var(--White);
  font-weight: 800;
}

small {
  color: var(--Soft-Pink)
}

@media (min-width: 768px) {
  main {
    max-width: 600px;
    margin: auto;
  }
  .stars  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }

  .testimonials{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .showcase {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .stars{
    display: inline-block;
  }
  .stars > div:nth-child(1){
    max-width: 90%;
  }
  .stars > div:nth-child(2) {
    transform: translateX(5%);
    max-width: 90%;
  }
  .stars > div:nth-child(3) {
    transform: translateX(10%);
    max-width: 90%;
  }
  main{
    max-width: auto;
  }

  .testimonials > div:nth-child(2) {
    transform: translateY(10%);
  }

  .testimonials > div:nth-child(3) {
    transform: translateY(20%);
  }

}